.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
sMSSDK/build/*
social_sdk_library_project/build/*
/captures

# Eclipse
.project
.classpath
.settings
.checkstyle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Maven
target
release.properties
pom.xml.*

# Ant
bin
gen
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

# Other
.DS_Store
tmp

/obj